.mobile-image {
  max-width: 100%;
  height: auto;
}

.google-image-styling,
.Appstore-image-styling {
  object-fit: contain;
  cursor: pointer;
}

.google-image-styling {
  width: 254px;
  height: 73px;
}

.Appstore-image-styling {
  width: 219px;
  height: 150px;
}

.coloring-bag-section {
  background-color: #f5e6c4;
}

.question {
  position: relative;
  padding-top: 20px;
  background-color: #f2f4f8;
}

.main-title::after {
  position: absolute;
  content: "";
  width: 600px;
  height: 2px;
  background-color: #e0e3ea;
  bottom: -20px;
  /* left: 50%;
  transform: translateX(-50%); */
}

.box {
  background-color: #151515;
  width: 510px;
  height: 286px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
}

.box .content button {
  background-color: #fb8f11;
  color: #ffffff;
  border-radius: 7%;
  padding: 0.5rem 1rem;
  width: 198px;
  height: 76px;
}

.question-styling {
  color: #0b378d;
  font-size: 16px;
  line-height: 100%;
}

.image-styling {
  border-radius: 3%;
  width: 510px;
  height: 662px;
}

.humors-styling {
  font-size: 56px;
  line-height: 140%;
}

.style-h2-saying {
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1px;
}

.item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #535558;
}

.item-company {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.29px;
  color: #d9d9d9;
}

.item-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #223140;
}

.centering-images {
  position: absolute;
  bottom: 82%;
  left: 40%;
}

.card-styling {
  width: 378px !important;
  height: 348px !important;
  background-color: #ffffff;
}

.centering-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
