.h6-and-inputfield-styling {
  color: #c4c4c4;
}

.styling-div {
  border: 2px solid #fb8f11;
  text-align: center;
  border-radius: 15px;
  padding: 40px;
  margin: 15px;
}

.change-color-of-inputfield {
  background-color: #eff1f999;
  border-radius: 10px;
}

.styling-another-div {
  border: 2px solid #c4c4c4;
  text-align: center;
  border-radius: 15px;
  padding: 40px;
  margin: 15px;
}
